{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2"> 상세 테마 정보</h2>
    <h2 class="border-bottom py-2"> 매장 이름 : <a href="{% url 'keys:er_detail' er.id %}"> {{ er.Er_Name }} </a> / 테마 이름 : {{ th.Th_Name }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">테마 ID : {{th.id}}
                테마 이름 : {{ th.Th_Name }}
                테마 장르 : {{ th.Th_Genre }}
                테마 난이도 : {{ th.Th_Diff }}
                테마 인원 : {{ th.Th_Nop }}
                테마 제한시간 : {{ th.Th_Time }}
                테마 소개 : {{ th.Th_Intro }}
                테마 포스터 : <br><img src="{{th.Th_Img1.url}}"></img>

                생성일자 : {{ th.create_date }}
                수정일자 : {{ th.modify_date }}
            </div>
            <!-- 생성 시간 등록 자리 -->
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {% if request.user == th.author %}
                    <a href="{% url 'keys:th_modify' th.id %}" class="btn btn-sm btn-outline-secondary">수정</a>  <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'keys:th_delete' th.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("테마 정보입니다. 정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}