{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">리뷰 등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}

        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="ThGr_pt">리뷰 평점</label>
            <textarea {%if not user.is_authenticated %} disabled {% endif %}
                      class="form-control" name="ThGr_pt"
                      id="ThGr_pt" rows="1">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group">
            <label for="ThGr_review">리뷰</label>
            <textarea {%if not user.is_authenticated %} disabled {% endif %}
                      class="form-control" name="ThGr_review"
                      id="ThGr_review" rows="1">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>



{% endblock %}