{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'keys:fc_index' %}"> 프랜차이즈 관리 </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a href="{% url 'keys:er_index' %}">매장 관리</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <a href="{% url 'keys:th_index' %}">테마 관리</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                <a> 커뮤니티 관리 </a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                <a> USER 관리 </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}